@model ProjectDto
@{
    ViewData["Title"] = "Edit";
}

<style>
    .form-control {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

</style>

<div class="text-center">
    <form action="Edit" method="POST" role="form" enctype="multipart/form-data">
        <table style="width:100%" class="table">
            <tr style="text-align:left;">
                <td>
                    Project Name:
                </td>
                <td>
                    <input id="projectId" name="projectId" type="hidden" value="@Model.ProjectId"/>
                    <input id="projectname" name="projectname" class="form-control" value="@Model.ProjectName"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%" id="RowsTable">
                        <tr>
                            <th class="fw-medium">W/D</th>
                            <th class="fw-medium">Item Name</th>
                            <th class="fw-medium">

                                Disposition
                                (Special Notes)

                            </th>
                            <th class="fw-medium">

                                Detail
                                #/Page

                            </th>
                            <th class="fw-medium">Section</th>
                            <th class="fw-medium">

                                Takeoff
                                Color

                            </th>
                            <th class="fw-medium">Length</th>
                            <th class="fw-medium">
                                X
                                Width
                            </th>
                            <th class="fw-medium">

                                Y
                                HT

                            </th>
                            <th class="fw-medium">
                                Pcs
                            </th>
                            <th class="fw-medium">
                                Total
                                LF
                            </th>
                            <th class="fw-medium">
                                Act SF
                                CF/LF
                            </th>
                            <th class="fw-medium">Act CF/Pcs</th>
                            <th class="fw-medium">Total Act CF</th>
                            <th class="fw-medium">Nom. CF/LF</th>
                            <th class="fw-medium">Nom. CF/Pcs</th>
                            <th class="fw-medium">Total Nom. CF</th>
                            <th class="fw-medium">Mold QTY</th>
                        </tr>
                        @{ var i = 1;}
                        @foreach(var projectDetail in Model.ProjectDetails)
                        {
                            <tr>
                                <td>
                                    <input id="row@(i)projectDetailId" name="row@(i)projectDetailId" type="hidden" value="@projectDetail.ProjectDetailId" />
                                    <select id="row@(i)WD" name="row@(i)WD" class="form-control" style="width:50px;">
                                        <option value="Dry">Dry</option>
                                        <option value="Wet">Wet</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="row@(i)ItemName" name="row@(i)ItemName" class="form-control" type="text" value="@projectDetail.ItemName" />
                                </td>
                                <td>
                                    <input id="row@(i)DispositionSpecialNote" name="row@(i)DispositionSpecialNote" class="form-control" type="text" value="@projectDetail.DispositionSpecialNote" />
                                </td>
                                <td>
                                    <input id="row@(i)DetailPage" name="row@(i)DetailPage" class="form-control" type="text" value="@projectDetail.DetailPage" />
                                </td>
                                <td>
                                    <img src="@projectDetail.ImagePath" style="width:100px;height:100px"/>
                                    <input type="file" id="row@(i)File" name="row@(i)File" class="form-control" accept="image/*" />
                                </td>
                                <td>
                                    <input id="row@(i)TakeOffColor" name="row@(i)TakeOffColor" type="text" class="form-control" style="width:50px" value="@projectDetail.TakeOffColor" />
                                </td>
                                <td>
                                    <input id="row@(i)Length" name="row@(i)Length" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateNomCFPcs(@(i));" style="width:50px" value="@projectDetail.Length" />
                                </td>
                                <td>
                                    <input id="row@(i)Width" name="row@(i)Width" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:50px" value="@projectDetail.Width" />
                                </td>
                                <td>
                                    <input id="row@(i)Height" name="row@(i)Height" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:50px" value="@projectDetail.Height" />
                                </td>
                                <td>
                                    <input id="row@(i)Pieces" name="row@(i)Pieces" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:50px" value="@projectDetail.Pieces" />
                                </td>
                                <td>
                                    <input id="row@(i)TotalLF" name="row@(i)TotalLF" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActCF(@(i));CalculateTotalNomCF(@(i));" class="form-control" style="width:50px" value="@projectDetail.TotalLf" />
                                </td>
                                <td>
                                    <input id="row@(i)ActSFCFLF" name="row@(i)ActSFCFLF" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateTotalActCF(@(i));" style="width:50px" value="@projectDetail.ActSfcflf" />
                                </td>
                                <td>
                                    <input id="row@(i)ActCFPcs" name="row@(i)ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width:50px" value="@projectDetail.ActCfpcs" />
                                </td>
                                <td>
                                    <input id="row@(i)TotalActCF" name="row@(i)TotalActCF" readonly="readonly" type="text" class="form-control" style="width:50px" value="@projectDetail.TotalActCf" />
                                </td>
                                <td>
                                    <input id="row@(i)NomCFLF" name="row@(i)NomCFLF" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(@(i));CalculateTotalNomCF(@(i));" style="width:50px" value="@projectDetail.NomCflf" />
                                </td>
                                <td>
                                    <input id="row@(i)NomCFPcs" name="row@(i)NomCFPcs" readonly="readonly" type="text" class="form-control" style="width:50px" value="@projectDetail.NomCfpcs" />
                                </td>
                                <td>
                                    <input id="row@(i)TotalNomCF" name="row@(i)TotalNomCF" readonly="readonly" type="text" class="form-control" style="width:50px" value="@projectDetail.TotalNomCf" />
                                </td>
                                <td>
                                    <input id="row@(i)MoldQTY" name="row@(i)MoldQTY" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:50px" value="@projectDetail.MoldQty" />
                                </td>
                            </tr>
                            i++;
                        }
                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:left;">
                    <input type="button" value="New Row" onclick="OnAddRow();" class="btn btn-primary" />
                </td>
            </tr>
            
        </table>
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <button type="submit" onclick="return Validate();" class="btn btn-primary">Submit </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        var rowCount = $('#RowsTable tr').length;
        for(var i=1 ;i<=rowCount;i++)
        {
            CalculateActCFPcs(i);
            CalculateTotalActCF(i);
            CalculateNomCFLF(i);
            CalculateNomCFPcs(i);
            CalculateTotalNomCF(i);
        }
    });    
</script>

