@using Newtonsoft.Json
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<style>
    .form-control {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .form-select
    {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }
    .link { font-size:.8rem;}
    
    .input-group
    {
        margin-top:3px;
    }

    .input-group-text {
        padding: 0rem .5rem;
    }
    
    .primary
    {
        background-color: #d6cfcc;
    }
    
    .secondary
    {
        background-color: #eeeee4;
    }
    label
    {
        font-size:0.8rem;
    }
    .font-size-08
    {
        font-size: 0.8rem;
    }
    .row>*
    {
        padding-left:2px;
        padding-right:2px;
        padding-top:2px;
        margin-left:0px;
        margin-right:0px;
    }
    .no-margin
    {
        margin-left: 0px;
        margin-right: 0px;
    }



</style>
@{
    var tabNumber = TempData["TabNumber"] as string;
    var tab = tabNumber;
}

<div class="text-center">
<form asp-action="Edit" asp-controller="Home" asp-route-id="@Model.ProjectDto.ProjectId" method="POST" role="form" enctype="multipart/form-data">
<div class="input-group">
            @*<label for="projectname" class="col-sm-2">Job Name:</label>*@
    <div class="col-sm-2">
        <input id="projectId" name="projectId" type="hidden" value="@Model.ProjectDto.ProjectId"  />
                <input id="TabNumber" name="TabNumber" type="hidden" value="@Model.ActiveTab" />
        @*<input id="projectname" name="projectname" class="form-control" value="@Model.ProjectName" style="font-weight: bold" />*@
        <span><b>@Model.ProjectDto.ProjectName</b></span>
    </div>
</div>
<div class="input-group">
    @*<label for="staticEmail" class="col-sm-2">Plan Date:</label>*@
    <div class="col-sm-2">

        
            @*<input type="text" class="form-control" id="RevisionDate" name="RevisionDate" value="@(Model.RevisionDate != null ? Model.RevisionDate.Value.ToString("MM/dd/yyyy"):"")" />*@
                <span><b>@(Model.ProjectDto.RevisionDate != null ? Model.ProjectDto.RevisionDate.Value.ToString("MM/dd/yyyy") : "")</b></span>
           @* <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>*@
    </div>
</div>
        <hr />
<div class="input-group mb-3">
            <div class="container-fluid">
                <div class="row align-items-start">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col" style="text-align:right;">
                        <button type="button" class="btn btn-primary" style="background-color: #17a2b8" onclick="ExportToExcelTable();exportReportToExcel(this);"><i class="fa fa-file-export"> <i class="fa fa-copy"></i> Export to EXCEL</i></button>
                        <button type="submit" style="background-color: #17a2b8" onclick="return Validate();" class="btn btn-primary"> <i class="fa fa-save"> Save</i> </button>
                    </div>
                </div>
            </div>
            
</div>
<hr />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-project-tab" onclick="SetTab(1);" data-bs-toggle="tab" data-bs-target="#nav-project" type="button" role="tab" aria-controls="nav-project-tab" aria-selected="true">Project </button>
        <button class="nav-link" id="nav-home-tab" onclick="SetTab(2);" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Build Lines</button>
        <button class="nav-link" id="nav-profile-tab" onclick="SetTab(3);" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Line Cost</button>
        <button class="nav-link" id="nav-contact-tab" onclick="SetTab(4);" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Final Price</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab" tabindex="0">
    <br/>
    <div class="input-group">
                    <label for="projectname" class="col-sm-3">Job Name:</label>
                    <div class="col-sm-3">
                        <input id="projectIdForProjectTab" name="projectIdForProjectTab" readonly="readonly" class="form-control" value="@Model.ProjectDto.ProjectName" />
                    </div>
                </div>
                <div class="input-group">
                    <label for="" class="col-sm-3">Nominal CF:</label>
                    <div class="">
                        <span class="input-group-text">$</span>
                    </div>
                    <div class="col-sm-3">
                        <input id="nominalCFForProjectTab" name="nominalCFForProjectTab" readonly="readonly" class="form-control" type="text" style="width:95%" value="@Model.ProjectDto.NominalCF" />
                    </div>
                </div>
                <div class="input-group">
                    <label for="" class="col-sm-3">Actual CF:</label>
                    <div class="">
                        <span class="input-group-text">$</span>
                    </div>
                    <div class="col-sm-2">
                        <input id="actualCFIdForProjectTab" name="actualCFIdForProjectTab" readonly="readonly" class="form-control" type="text" style="width:95%" value="@Model.ProjectDto.ActualCF" />
                    </div>
                </div>
                <div class="input-group">
                    <label for="datepicker" class="col-sm-3">Plan Date:</label>
                    <div class="col-sm-2">

                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" id="RevisionDate" name="RevisionDate" value="@(Model.ProjectDto.RevisionDate != null ? Model.ProjectDto.RevisionDate.Value.ToString("MM/dd/yyyy"):"")" />
                            <span class="input-group-append">
                                <span class="input-group-text bg-light d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>

                </div>
    <div class="input-group">
        <label for="" class="col-sm-3">Contract Specs:</label>
        <div class="col-sm-3">
                        <input type="file" id="ContactSpecs" name="ContactSpecs" class="form-control  float-left" />
            @if (!string.IsNullOrEmpty(Model.ProjectDto.ContactSpecs))
            {
                <a href="@Model.ProjectDto.ContactSpecs" class="edit float-left" target="_blank">View File</a>
            }
        </div>
    </div>
    <div class="input-group">
        <label for="notes" class="col-sm-3">Notes: </label>
        <div class="col-sm-3">
                        <textarea id="notesForProjectTab" name="notesForProjectTab" rows="4" cols="10" class="form-control">@Model.ProjectDto.Notes</textarea>
        </div>
    </div>
    <div class="planElevationTextForEdit">

    @foreach (var projectPlanElevationTextDto in Model.ProjectDto.ProjectPlanElevationText)
    {
        <div class="input-group">
                <label for="" class="col-sm-3">Plan Elevation Text:</label>
                <div class="col-sm-2">
                    <input type="text" id="@projectPlanElevationTextDto.Id" class="form-control"
                           value="@projectPlanElevationTextDto.Text"/>
                </div>
                <div class="col-sm-1" style="align-self: normal">
                    <a href="#" onclick="DeletePlanElevationText(@projectPlanElevationTextDto.Id)"><i class="fa fa-trash fa-lg"></i></a>
                </div>
            </div>
        
            }
        </div>
    <div class="planElevationText">
    </div>
    <hr/>
    <div class="input-group">
        <button type="button" style="background-color: #17a2b8" onclick="AddNewRowForPlanElevationDropDown()" class="btn btn-primary"><i class="fa fa-plus"> Add Plan Elevation Text Row</i>  </button>
        <div class="col-sm-8"></div>
                    <button type="button" style="background-color: #17a2b8" onclick="SaveRowForPlanElevationText(@Model.ProjectDto.ProjectId)" class="btn btn-primary"> <i class="fa fa-save"> Save Plan Elevation Text</i></button>
    </div>
                <div class="input-group">
                </div>
</div>
<div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
<table style="width: 100%" class="table font-size-08">
<tr>
<td>
<div style="width: 100%" id="RowsTable" class="container-fluid">
<div class="row align-items-start">
    <div class="col-4 row">
        <div class="col-1">No</div>


    </div>
    <div class="col-6 row"></div>
    <div class="col-2 row">
        <div class="col text-align-left">Total Actual</div>
        <div class="col text-align-left">Total Nominal</div></div>
</div>
@{
    var i = 1;
    var currentGroupName = "";
    var displayed = false;
    var groupingApplied = false;
    int? currentGroupId = null;
}
                                @foreach (var projectDetail in Model.ProjectDto.ProjectDetails.OrderByDescending(x => x.GroupName).ToList())
{
    if (!currentGroupName.Equals(projectDetail.GroupName))
    {
        currentGroupName = projectDetail.GroupName;
        displayed = false;
        groupingApplied = true;
        currentGroupId = projectDetail.GroupId;
    }
    if (!displayed && groupingApplied)
    {
        if (string.IsNullOrEmpty(currentGroupName))
        {
            currentGroupName = "Un-Grouped";
            currentGroupId = -1;
        }
        displayed = true;
        <div class="row">
            <div class="col-2 text-align-left green">@currentGroupName</div>
            <div class="col-8" id="@currentGroupId" ondrop="dropDiv(event)" ondragover="allowDropDiv(event)" style="border: dotted; align-content: center"> drop row area</div>
        </div>
    }
    <div ondrop="dropDiv(event)" ondragover="allowDropDiv(event)">

        <div id="@projectDetail.ProjectDetailId" draggable="true" ondragstart="dragDiv(event)" class="@(i % 2 != 0 ? "primary" : "secondary") row exceldatarow">
            <div class="col-4 row">
                <div class="col-1">@(i)</div>
                <div class="col-2 text-align-left">W/D</div>
                <div class="col-4 text-align-left">
                    Item Name

                </div>

                <div class="col-3 text-align-left">

                    Detail
                    #/Page

                </div>
            </div>
            <div class="col text-align-left">Takeoff Color</div>
            <div class="col-5 row text-align-left">
                <div class="col text-align-left">Length (In.)</div>
                <div class="col text-align-left">Width (In.)</div>
                <div class="col text-align-left">
                                                    Height (In.)
                </div>
                <div class="col text-align-left">
                    Total Pcs
                </div>
                <div class="col text-align-left">
                   
                </div>
            </div>
            <div class="col-2 row @(i % 2 != 0 ? "light-green" : "green")"></div>
            <div class="col-4 row">
                <div class="col-1"><a href="#" onclick="DeleteProjectDetail(@(projectDetail.ProjectDetailId));"><i class="fa fa-trash fa-lg"></i></a></div>

                <div class="col-2">
                    <input id="row@(i)projectDetailId" name="row@(i)projectDetailId" type="hidden" value="@projectDetail.ProjectDetailId"/>
                    <select id="row@(i)WD" name="row@(i)WD" class="form-select" style="width: 70px;">
                        <option value="Dry" selected="@projectDetail.WD.Equals("Dry")">Dry</option>
                        <option value="Wet" selected="@projectDetail.WD.Equals("Wet")">Wet</option>
                        <option value="UnSpecified" selected="@projectDetail.WD.Equals("UnSpecified")">UnSpecified</option>
                    </select>
                </div>
                <div class="col-4">
                    <input id="row@(i)ItemName" name="row@(i)ItemName" class="form-control" type="text" value="@projectDetail.ItemName"/>

                </div>

                <div class="col-3">
                    <input id="row@(i)DetailPage" name="row@(i)DetailPage" class="form-control" type="text" value="@projectDetail.DetailPage"/>
                </div>
                <div class="col-12 row">
                    <div class="col-1"><input type="checkbox" id="row@(i)GroupCheckBoxId" value="@projectDetail.ProjectDetailId"/> </div>
                    <div class="col-2">
                        <div class="col-12"><label> Category</label></div>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-8">
                                <select id="row@(i)Category" name="row@(i)Category" class="form-select" style="width: 80px;">
                                    <option value="">Select</option>
                                    <option value="Band" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Band"))">Band</option>
                                    <option value="Bench" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Bench"))">Bench</option>
                                    <option value="Block" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Block"))">Block</option>
                                    <option value="Bollard" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Bollard"))">Bollard</option>
                                    <option value="Cap" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Cap"))">Cap</option>
                                    <option value="Coping" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Coping"))">Coping</option>
                                    <option value="Cornice" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Cornice"))">Cornice</option>
                                    <option value="Date Stone" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Date Stone"))">Date Stone</option>
                                    <option value="Header" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Header"))">Header</option>
                                    <option value="Lintel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Lintel"))">Lintel</option>
                                    <option value="Panel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Panel"))">Panel</option>
                                    <option value="Planter" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Planter"))">Planter</option>
                                    <option value="Sill" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Sill"))">Sill</option>
                                    <option value="Site Furniture" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Site Furniture"))">Site Furniture</option>
                                    <option value="Slab" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Slab"))">Slab</option>
                                    <option value="Soffit" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Soffit"))">Soffit</option>
                                    <option value="Spandrel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Spandrel"))">Spandrel</option>
                                    <option value="Stair" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Stair"))">Stair</option>
                                    <option value="Veneer" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Veneer"))">Veneer</option>
                                    <option value="Wall" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Wall"))">Wall</option>
                                    <option value="Water Table" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Water Table"))">Water Table</option>
                                    <option value="Unique Item" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Unique Item"))">Unique Item</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 text-align-left totallfdata">

                        <label for="inputPassword" class="col-7 "> Disposition (Special Notes)</label>


                        <textarea id="rowDispositionSpecialNote" name="row@(i)DispositionSpecialNote" class="form-control disposition" style="height: 50px">@projectDetail.DispositionSpecialNote</textarea>
                        <div class="row exceldatarow11" rel="@projectDetail.ProjectDetailId">
                            <div class="totallfdata">
                                <input id="row@(i)PlanElevationHidden" name="row@(i)PlanElevationHidden" class="form-control" type="hidden" value="@projectDetail.PlanElevation"/>
                                <input id="row@(i)PlanElevationJsonHidden" name="row@(i)PlanElevationJsonHidden" class="form-control" type="hidden" value="@projectDetail.PlanElevationJson"/>
                                <input id="row@(i)TotalLFHidden" name="row@(i)TotalLFHidden" class="form-control" type="hidden" value="@projectDetail.LFValue"/>
                                <input id="rowIndex" class="form-control" type="hidden" value="@(i)"/>
                                <a href="#" class="edit" onclick="AddNewLFRow();return false;">Plan/Elevation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="col">
                    <input id="row@(i)TakeOffColor" name="row@(i)TakeOffColor" type="text" class="form-control" style="width: 100px" value="@projectDetail.TakeOffColor"/>
                </div>
                <div class="col text-align-left"> Section</div>
                <div class="col-12 no-margin text-align-left">
                    <a id="single_image" href="@projectDetail.ImagePath" target="_blank">
                        <img src="@projectDetail.ImagePath" style="width: 120px; height: 100px"/>
                    </a>
                </div>
                <div class="col-12 text-align-left">
                    <a id="row@(i)ChangeImage" class="link" onclick="ShowImageSelection(@(i))" href="javascript:void(0);"><input type="file" id="row@(i)File" name="row@(i)File" class="form-control" style="display: none;" accept="image/*"/>Change Image</a>
                </div>

            </div>
            <div class="col-5 row">

                <div class="col">
                                                    <input id="row@(i)Length" name="row@(i)Length" type="text" onkeypress="CalculatePCS(@(i));return isNumberKey(this, event);" class="form-control" onchange="ConvertNumberToFraction(this);CalculateActCFPcs(@(i));CalculateNomCFPcs(@(i));CalculatePCS(@(i));" style="width: 70px" value="@projectDetail.Length" />
                    <input id="row@(i)LengthHidden" name="row@(i)LengthHidden" type="hidden" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateNomCFPcs(@(i));" style="width: 70px" value="@projectDetail.Length"/>
                </div>
                <div class="col">
                    <input id="row@(i)Width" name="row@(i)Width" type="text" onkeypress="return isNumberKey(this, event);" onchange="ConvertNumberToFraction(this);CalculateNomCFLF(@(i));" class="form-control" style="width: 70px" value="@projectDetail.Width"/>
                    <input id="row@(i)WidthHidden" name="row@(i)WidthHidden" type="hidden" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFLF(@(i));CalculateNomCFPcs(@(i));" style="width: 70px" value="@projectDetail.Width"/>
                </div>
                <div class="col">
                    <input id="row@(i)Height" name="row@(i)Height" type="text" onkeypress="return isNumberKey(this, event);" onchange="ConvertNumberToFraction(this);CalculateNomCFLF(@(i));CalculateNomCFPcs(@(i));" class="form-control" style="width: 70px" value="@projectDetail.Height"/>
                    <input id="row@(i)HeightHidden" name="row@(i)HeightHidden" type="hidden" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(@(i));CalculateNomCFPcs(@(i));" class="form-control" style="width: 70px" value="@projectDetail.Height"/>
                </div>
                <div class="col">
                    <input id="row@(i)Pieces" name="row@(i)Pieces" type="text" onkeypress="CalculateLengthFromPCS(@(i));return isNumberKey(this, event);" onchange="CalculateLengthFromPCS(@(i));" class="form-control" style="width: 70px" value="" />
                </div>

                <div class="col">
                </div>
                <div class="row">
                    <div class="col text-align-left">Total LF</div>
                    <div class="col text-align-left"></div>
                    <div class="col text-align-left">Nom. CF/LF</div>
                    <div class="col text-align-left">Total Nom. CF</div>
                    <div class="col text-align-left"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="row@(i)TotalLF" name="row@(i)TotalLF" type="text" onkeypress="CalculatePCS(@(i));return isNumberKey(this, event);" onchange="CalculateTotalActCF(@(i));CalculateTotalNomCF(@(i));CalculatePCS(@(i));" class="form-control" style="width: 70px" value="@projectDetail.TotalLf"/>
                    </div>
                    <div class="col"></div>
                    <div class="col float-left">
                        <input id="row@(i)NomCFLF" name="row@(i)NomCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(@(i));CalculateTotalNomCF(@(i));" style="width: 70px" value="@projectDetail.NomCflf"/>
                    </div>
                    <div class="col float-left">
                        <input id="row@(i)TotalNomCF" name="row@(i)TotalNomCF" readonly="readonly" type="text" class="form-control" style="width: 70px" onchange="CalculateTotalNominal(@(i))" value="@projectDetail.TotalNomCf"/>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col text-align-left">Act SF CF/LF</div>
                    <div class="col text-align-left">Act CF/Pcs</div>
                    <div class="col text-align-left">Total Act CF</div>
                    <div class="col text-align-left">Nom. CF/Pcs</div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col float-left">
                        <input id="row@(i)ActSFCFLF" name="row@(i)ActSFCFLF" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateTotalActCF(@(i));" style="width: 70px" value="@projectDetail.ActSfcflf"/>
                    </div>
                    <div class="col float-left">
                        <input id="row@(i)ActCFPcs" name="row@(i)ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width: 70px" value="@projectDetail.ActCfpcs"/>
                    </div>
                    <div class="col float-left">
                        <input id="row@(i)TotalActCF" name="row@(i)TotalActCF" readonly="readonly" type="text" onchange="CalculateTotalActual(@(i));" class="form-control" style="width: 70px" value="@projectDetail.TotalActCf"/>
                    </div>

                    <div class="col float-left">
                        <input id="row@(i)NomCFPcs" name="row@(i)NomCFPcs" readonly="readonly" type="text" class="form-control" style="width: 70px" value="@projectDetail.NomCfpcs"/>
                    </div>
                    <div class="col"></div>

                </div>
            </div>
            <div class="col-2 row @(i % 2 != 0 ? "light-green" : "green")">
                <div class="col float-left">
                    <span class="float-left">$</span><input id="row@(i)TotalActual" name="row@(i)TotalActual" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/>
                </div>
                <div class="col float-left">
                    <span class="float-left">$</span><input id="row@(i)TotalNominal" name="row@(i)TotalNominal" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/>
                </div>
            </div>
        </div>
    </div>
    i++;
}
</div>

</td>
</tr>
<tr>
    <td colspan="2" style="text-align: left;">
                            <button type="button" style="background-color: #17a2b8" onclick="OnAddRow();" class="btn btn-primary"><i class="fa fa-plus"> New Row</i> </button>
        <button type="button" style="background-color: #17a2b8" class="btn btn-primary" id="newGroupBtn" ><i class="fa fa-plus"> New Group</i></button>
                            <button type="button" style="background-color: #17a2b8" class="btn btn-primary" id="convertToPdfBtn" onclick="DoConvertToPdf(@Model.ProjectDto.ProjectId);"> <i class="fa fa-copy"> Convert to PDF</i></button>
                            <a id="convertToPdfDownload" style="background-color: #17a2b8" href="#" style="display: none" target="_blank"></a>
    </td>
</tr>

</table>
</div>
<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

                <table style="width: 100%" class="table font-size-08">
                    <tr>
                        <td>
                            <div style="width: 100%" id="RowsTable" class="container-fluid">
                                <div class="row align-items-start">
                                    <div class="col-4 row">
                                        <div class="col-1">No</div>


                                    </div>
                                    <div class="col-6 row"></div>
                                    <div class="col-2 row">
                                        <div class="col text-align-left"></div>
                                        <div class="col text-align-left"></div>
                                    </div>
                                </div>
                                @{
                                    var iForProfileTab = 1;
                                    var currentGroupNameForProfileTab = "";
                                    var displayedForProfileTab = false;
                                    var groupingAppliedForProfileTab = false;
                                    int? currentGroupIdForProfileTab = null;
                                }
                                @foreach (var projectDetail in Model.ProjectDto.ProjectDetails.OrderByDescending(x => x.GroupName).ToList())
                                {
                                    if (!currentGroupNameForProfileTab.Equals(projectDetail.GroupName))
                                    {
                                        currentGroupNameForProfileTab = projectDetail.GroupName;
                                        displayedForProfileTab = false;
                                        groupingAppliedForProfileTab = true;
                                        currentGroupIdForProfileTab = projectDetail.GroupId;
                                    }
                                    if (!displayedForProfileTab && groupingAppliedForProfileTab)
                                    {
                                        if (string.IsNullOrEmpty(currentGroupNameForProfileTab))
                                        {
                                            currentGroupNameForProfileTab = "Un-Grouped";
                                            currentGroupIdForProfileTab = -1;
                                        }
                                        displayedForProfileTab = true;
                                        <div class="row">
                                            <div class="col-2 text-align-left green">@currentGroupNameForProfileTab</div>
                                            <div class="col-8" id="@currentGroupIdForProfileTab" style=""> </div>
                                        </div>
                                    }
                                    <div>

                                        <div id="@projectDetail.ProjectDetailId" class="@(iForProfileTab % 2 != 0 ? "primary" : "secondary") row exceldatarow12">
                                            <div class="col-4 row">
                                                <div class="col-1">@(iForProfileTab)</div>
                                                <div class="col-2 text-align-left">W/D</div>
                                                <div class="col-4 text-align-left">
                                                    Item Name

                                                </div>

                                                <div class="col-3 text-align-left">

                                                    Detail
                                                    #/Page

                                                </div>
                                            </div>
                                            <div class="col text-align-left">Takeoff Color</div>
                                            <div class="col-5 row text-align-left">
                                                <div class="col text-align-left"></div>
                                                <div class="col text-align-left">Mold QTY</div>
                                                <div class="col text-align-left">
                                                    # Mold Worker
                                                </div>
                                                <div class="col text-align-left">
                                                    Drafting Hours
                                                </div>
                                                <div class="col text-align-left">
                                                    Foam
                                                </div>
                                            </div>
                                            

                                            <div class="col-2 row @(iForProfileTab % 2 != 0 ? "light-green" : "green")"></div>
                                            <div class="col-4 row">
                                                <div class="col-1"></div>

                                                <div class="col-2">
                                                    <select id="row@(iForProfileTab)WDForProfileTab" name="row@(iForProfileTab)WDForProfileTab" disabled="disabled" class="form-select" style="width: 70px;">
                                                        <option value="Dry" selected="@projectDetail.WD.Equals("Dry")">Dry</option>
                                                        <option value="Wet" selected="@projectDetail.WD.Equals("Wet")">Wet</option>
                                                        <option value="UnSpecified" selected="@projectDetail.WD.Equals("UnSpecified")">UnSpecified</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <input id="row@(iForProfileTab)ItemNameForProfileTab" name="row@(iForProfileTab)ItemNameForProfileTab" readonly="readonly" class="form-control" type="text" value="@projectDetail.ItemName" />

                                                </div>

                                                <div class="col-3">
                                                    <input id="row@(iForProfileTab)DetailPageForProfileTab" name="row@(iForProfileTab)DetailPageForProfileTab" readonly="readonly" class="form-control" type="text" value="@projectDetail.DetailPage" />
                                                </div>
                                                <div class="col-12 row">
                                                    <div class="col-1"><input type="checkbox" id="row@(iForProfileTab)GroupCheckBoxIdForProfileTab" readonly="readonly" value="@projectDetail.ProjectDetailId" /> </div>
                                                    <div class="col-2">
                                                        <div class="col-12"><label> Category</label></div>
                                                        <div class="row">
                                                            <div class="col-1"></div>
                                                            <div class="col-8">
                                                                <select id="row@(iForProfileTab)CategoryForProfileTab" name="row@(iForProfileTab)CategoryForProfileTab" disabled="disabled" class="form-select" style="width: 80px;">
                                                                    <option value="">Select</option>
                                                                    <option value="Band" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Band"))">Band</option>
                                                                    <option value="Bench" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Bench"))">Bench</option>
                                                                    <option value="Block" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Block"))">Block</option>
                                                                    <option value="Bollard" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Bollard"))">Bollard</option>
                                                                    <option value="Cap" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Cap"))">Cap</option>
                                                                    <option value="Coping" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Coping"))">Coping</option>
                                                                    <option value="Cornice" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Cornice"))">Cornice</option>
                                                                    <option value="Date Stone" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Date Stone"))">Date Stone</option>
                                                                    <option value="Header" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Header"))">Header</option>
                                                                    <option value="Lintel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Lintel"))">Lintel</option>
                                                                    <option value="Panel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Panel"))">Panel</option>
                                                                    <option value="Planter" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Planter"))">Planter</option>
                                                                    <option value="Sill" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Sill"))">Sill</option>
                                                                    <option value="Site Furniture" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Site Furniture"))">Site Furniture</option>
                                                                    <option value="Slab" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Slab"))">Slab</option>
                                                                    <option value="Soffit" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Soffit"))">Soffit</option>
                                                                    <option value="Spandrel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Spandrel"))">Spandrel</option>
                                                                    <option value="Stair" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Stair"))">Stair</option>
                                                                    <option value="Veneer" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Veneer"))">Veneer</option>
                                                                    <option value="Wall" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Wall"))">Wall</option>
                                                                    <option value="Water Table" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Water Table"))">Water Table</option>
                                                                    <option value="Unique Item" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Unique Item"))">Unique Item</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-9 text-align-left totallfdata">

                                                        <label for="inputPassword" class="col-7 "> Disposition (Special Notes)</label>


                                                        <textarea id="rowDispositionSpecialNoteForProfileTab" name="row@(iForProfileTab)DispositionSpecialNoteForProfileTab" readonly="readonly" class="form-control disposition" style="height: 50px">@projectDetail.DispositionSpecialNote</textarea>
                                                        <div class="row exceldatarow11" rel="@projectDetail.ProjectDetailId">
                                                            <div class="totallfdata">
                                                                <input id="row@(iForProfileTab)PlanElevationHiddenForProfileTab" name="row@(iForProfileTab)PlanElevationHiddenForProfileTab" class="form-control" type="hidden" value="@projectDetail.PlanElevation" />
                                                                <input id="row@(iForProfileTab)PlanElevationJsonHiddenForProfileTab" name="row@(iForProfileTab)PlanElevationJsonHiddenForProfileTab" class="form-control" type="hidden" value="@projectDetail.PlanElevationJson" />
                                                                <input id="row@(iForProfileTab)TotalLFHiddenForProfileTab" name="row@(iForProfileTab)TotalLFHiddenForProfileTab" class="form-control" type="hidden" value="@projectDetail.LFValue" />
                                                                <input id="rowIndex" class="form-control" type="hidden" value="@(iForProfileTab)" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <div class="col">
                                                    <input id="row@(iForProfileTab)TakeOffColorForProfileTab" name="row@(iForProfileTab)TakeOffColorForProfileTab" readonly="readonly" type="text" class="form-control" style="width: 100px" value="@projectDetail.TakeOffColor" />
                                                </div>
                                                <div class="col text-align-left"> Section</div>
                                                <div class="col-12 no-margin text-align-left">
                                                    <a id="single_imageForProfileTab" href="@projectDetail.ImagePath" target="_blank">
                                                        <img src="@projectDetail.ImagePath" style="width: 120px; height: 100px" />
                                                    </a>
                                                </div>
                                                <div class="col-12 text-align-left">
                                                    <br/>
                                                </div>
                                                
                                            </div>
                                            <div class="col-5 row text-align-left">
                                                <div class="row">
                                                    <div class="col text-align-left"></div>
                                                    <div class="col text-align-left">
                                                        <input type="text" id="row@(iForProfileTab)MoldQTY" name="row@(iForProfileTab)MoldQTY" onkeypress="return isNumberKey(this, event);" class="form-control" style="width: 70px" value="@projectDetail.MoldQty" />
                                                    </div>
                                                    <div class="col text-align-left">
                                                        <input type="text" id="row@(iForProfileTab)MoldWorkerCount" name="row@(iForProfileTab)MoldWorkerCount" class="form-control" onkeypress="return isNumberKey(this, event);" style="width: 70px" />
                                                    </div>
                                                    <div class="col text-align-left">
                                                        <input type="text" id="row@(iForProfileTab)DraftingHours" name="row@(iForProfileTab)DraftingHours" class="form-control" onkeypress="return isNumberKey(this, event);" style="width: 70px" />
                                                    </div>
                                                    <div class="col text-align-left">
                                                        <input type="radio" id="row@(iForProfileTab)Foam" name="row@(iForProfileTab)FoamName" value="YES" >
                                                        <label>Yes</label><br/>
                                                        <input type="radio" id="row@(iForProfileTab)Foam" name="row@(iForProfileTab)FoamName" value="NO" checked="checked" />
                                                        <label>NO</label><br>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-align-left"></div>
                                                    <div class="col text-align-left">
                                                    </div>
                                                    <div class="col text-align-left">
                                                        #Production Worker
                                                    </div>
                                                    <div class="col text-align-left">
                                                        Metal Fab
                                                    </div>
                                                    <div class="col text-align-left">
                                                        Complexity/Difficulty:
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-align-left"></div>
                                                    <div class="col text-align-left">
                                                    </div>
                                                    <div class="col text-align-left">
                                                        <input type="text" id="row@(iForProfileTab)ProductionWorker" name="row@(iForProfileTab)ProductionWorker" class="form-control" onkeypress="return isNumberKey(this, event);" />
                                                    </div>
                                                    <div class="col text-align-left">
                                                        <input type="radio" id="row@(iForProfileTab)MetalFab" name="row@(iForProfileTab)MetalFab" value="YES" >
                                                        <label>Yes</label><br/>
                                                        <input type="radio" id="row@(iForProfileTab)MetalFab" name="row@(iForProfileTab)MetalFab" value="NO" checked="checked" />
                                                        <label>NO</label><br>
                                                    </div>
                                                    <div class="col text-align-left">
                                                        <select id="row@(iForProfileTab)Complexity" name="row@(iForProfileTab)Complexity" class="form-select" style="width: 80px;">
                                                            <option value="Simple">Simple</option>
                                                            <option value="Moderate">Moderate</option>
                                                            <option value="Hard">Hard</option>
                                                            <option value="Extreme">Extreme</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row"></div>
                                            </div>
                                         
                                        </div>
                                    </div>
                                    iForProfileTab++;
                                }
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: left;">
                            <button type="button" style="background-color: #17a2b8" onclick="OnAddRow();" class="btn btn-primary"><i class="fa fa-plus"> New Row</i> </button>
                            <button type="button" style="background-color: #17a2b8" class="btn btn-primary" id="newGroupBtn"><i class="fa fa-plus"> New Group</i></button>
                            <button type="button" style="background-color: #17a2b8" class="btn btn-primary" id="convertToPdfBtn" onclick="DoConvertToPdf(@Model.ProjectDto.ProjectId);"> <i class="fa fa-copy"> Convert to PDF</i></button>
                            <a id="convertToPdfDownload" style="background-color: #17a2b8" href="#" style="display: none" target="_blank"></a>
                        </td>
                    </tr>

                </table>
    
    

</div>
<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
<div style="width: 100%" id="RowsTable" class="container-fluid font-size-08">
<div class="row">
    <div class="col-sm-1"> <b>NomianalCF:</b></div>
                        <div class="col-sm-1"><input id="nominalCFForFinalTab" name="nominalCFForFinalTab" value="@Model.ProjectDto.NominalCF" /></div>
    <div class="col-sm-2"> <b>ActualCF:</b></div>
                        <div class="col-sm-1"><input id="actualCfForFinalTab" name="actualCfForFinalTab" value="@Model.ProjectDto.ActualCF" /></div>
</div>
<div class="row align-items-start">

    <div class="col-3 row">
        <div class="col-1">No</div>


    </div>
    <div class="col-5 row"></div>
    <div class="col-2 row">
        <div class="col text-align-left">Total Actual</div>
        <div class="col text-align-left">Total Nominal</div>
    </div>
    <div class="col-2 row">
        <div class="col text-align-left">Line Item Charge</div>
        <div class="col text-align-left">Line Delta</div>
    </div>
</div>
@{
    var j = 1;
    currentGroupName = "";
    displayed = false;
    groupingApplied = false;
}
                    @foreach (var projectDetail in Model.ProjectDto.ProjectDetails.OrderByDescending(x => x.GroupName).ToList())
{
    if (!currentGroupName.Equals(projectDetail.GroupName))
    {
        currentGroupName = projectDetail.GroupName;
        displayed = false;
        groupingApplied = true;
    }
    if (!displayed && groupingApplied)
    {
        if (string.IsNullOrEmpty(currentGroupName))
            currentGroupName = "Un-Grouped";
        displayed = true;
        <div class="row">
            <div class="col-2 text-align-left green">@currentGroupName</div>
            <div class="col-10"></div>
        </div>
    }
    <div class="@(j % 2 != 0 ? "primary" : "secondary") row exceldatarow1">

    <div class="col-4 row">
        <div class="col-1">@(j)

        </div>
        <div class="col-2 text-align-left">W/D</div>
        <div class="col-5 text-align-left">
            Item Name

        </div>

        <div class="col-4 text-align-left">

            Detail
            #/Page

        </div>
    </div>

    <div class="col-4 row text-align-left">
        <div class="col text-align-left">Length (In.)</div>
        <div class="col text-align-left">Width (In.)</div>
        <div class="col text-align-left">
                                    Height (In.)
        </div>
        <div class="col text-align-left">
            Pcs
        </div>
        <div class="col text-align-left">
            Mold QTY
        </div>
    </div>
    <div class="col-2 row @(j % 2 != 0 ? "light-green" : "green")">
        <div class="col text-align-left"><input type="radio" id="rowFP@(j)TotalActualCheckBox" name="rowFP@(j)TotalCheckBox" checked="@(projectDetail.TotalActualNominalValue != null && projectDetail.TotalActualNominalValue.Equals("1"))" onchange="OnLineItemChange(@(j));SumLineItemChargeCF();" value="1"/></div>
        <div class="col text-align-left"><input type="radio" id="rowFP@(j)TotalNominalCheckBox" name="rowFP@(j)TotalCheckBox" checked="@(projectDetail.TotalActualNominalValue == null || projectDetail.TotalActualNominalValue.Equals("2"))" onchange="OnLineItemChange(@(j));SumLineItemChargeCF();" value="2"/></div>
    </div>
    <div class="col-2 row"></div>
    <div class="col-4 row">
        <div class="col-1"></div>

        <div class="col-2">
            <input id="rowFP@(j)projectDetailId" name="rowFP@(j)projectDetailId" type="hidden" value="@projectDetail.ProjectDetailId"/>
            <select id="rowFP@(j)WD" name="rowFP@(j)WD" class="form-select" readonly="readonly" style="width: 70px;">
                                        <option value="Dry" selected="@projectDetail.WD.Equals("Dry")">Dry</option>
                                        <option value="Wet" selected="@projectDetail.WD.Equals("Dry")">Wet</option>
                                        <option value="UnSpecified" selected="@projectDetail.WD.Equals("Dry")">UnSpecified</option>

            </select>
        </div>
        <div class="col-5">
            <input id="rowFP@(j)ItemName" name="rowFP@(j)ItemName" readonly="readonly" class="form-control" type="text" value="@projectDetail.ItemName"/>

        </div>

        <div class="col-4">
            <input id="rowFP@(j)DetailPage" name="rowFP@(j)DetailPage" readonly="readonly" class="form-control" type="text" value="@projectDetail.DetailPage"/>
        </div>
        <div class="col-12">
            <div class="col-3 float-left">
                <div class="col-12"><label> Category</label></div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <select id="rowFP@(j)Category" name="rowFP@(j)Category" class="form-select" style="width: 80px;" readonly="readonly">
                            <option value="">Select</option>
                            <option value="Band" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Band"))">Band</option>
                            <option value="Bench" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Bench"))">Bench</option>
                            <option value="Block" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Block"))">Block</option>
                            <option value="Bollard" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Bollard"))">Bollard</option>
                            <option value="Cap" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Cap"))">Cap</option>
                            <option value="Coping" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Coping"))">Coping</option>
                            <option value="Cornice" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Cornice"))">Cornice</option>
                            <option value="Date Stone" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Date Stone"))">Date Stone</option>
                            <option value="Header" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Header"))">Header</option>
                            <option value="Lintel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Lintel"))">Lintel</option>
                            <option value="Panel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Panel"))">Panel</option>
                            <option value="Planter" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Planter"))">Planter</option>
                            <option value="Sill" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Sill"))">Sill</option>
                            <option value="Site Furniture" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Site Furniture"))">Site Furniture</option>
                            <option value="Slab" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Slab"))">Slab</option>
                            <option value="Soffit" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Soffit"))">Soffit</option>
                            <option value="Spandrel" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Spandrel"))">Spandrel</option>
                            <option value="Stair" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Stair"))">Stair</option>
                            <option value="Veneer" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Veneer"))">Veneer</option>
                            <option value="Wall" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Wall"))">Wall</option>
                            <option value="Water Table" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Water Table"))">Water Table</option>
                            <option value="Unique Item" selected="@(projectDetail.Category != null && projectDetail.Category.Equals("Unique Item"))">Unique Item</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-9  float-left text-align-left">

                <label for="inputPassword" class="col-7 "> Disposition (Special Notes)</label>


                <textarea id="rowFP@(j)DispositionSpecialNote" name="rowFP@(j)DispositionSpecialNote" readonly="readonly" style="height: 80px;" class="form-control">@projectDetail.DispositionSpecialNote</textarea>
                @*<label class="col-7 ">Plan/Elevation</label>
                    <input id="row@(j)PlanElevation" name="row@(j)PlanElevation" readonly="readonly" class="form-control" type="text" value="@projectDetail.PlanElevation" />*@
                <div class="row exceldatarow11" readonly="true">
                    <div class="totallfdata">
                        <input id="rowFP@(j)PlanElevationHidden" name="rowFP@(j)PlanElevationHidden" class="form-control" type="hidden" value="@projectDetail.PlanElevation"/>
                        <input id="rowFP@(j)TotalLFHidden" name="rowFP@(j)TotalLFHidden" class="form-control" type="hidden" value="@projectDetail.LFValue"/>
                        <input id="rowIndex" class="form-control" type="hidden" value="@(j)"/>
                        <a href="javascript:void(0);" class="edit" onclick="AddNewLFRow();">Plan/Elevation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 row">

        <div class="col">
            <input id="rowFP@(j)Length" name="rowFP@(j)Length" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(j));CalculateNomCFPcs(@(j));" style="width: 70px" value="@projectDetail.Length"/>
        </div>
        <div class="col">
            <input id="rowFP@(j)Width" name="rowFP@(j)Width" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(@(j));CalculateNomCFPcs(@(j));" class="form-control" style="width: 70px" value="@projectDetail.Width"/>
        </div>
        <div class="col">
            <input id="rowFP@(j)Height" name="rowFP@(j)Height" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(@(j));CalculateNomCFPcs(@(j));" class="form-control" style="width: 70px" value="@projectDetail.Height"/>
        </div>
        <div class="col">
            <input id="rowFP@(j)Pieces" name="rowFP@(j)Pieces" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" style="width: 70px" value="@projectDetail.Pieces"/>
        </div>




        <div class="col">
            <input id="rowFP@(j)MoldQTY" name="rowFP@(j)MoldQTY" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" style="width: 70px" value="@projectDetail.MoldQty"/>
        </div>
        <div class="row">
            <div class="col text-align-left">Total LF</div>
            <div class="col text-align-left"></div>
            <div class="col text-align-left">Nom. CF/LF</div>
            <div class="col text-align-left">Total Nom. CF</div>
            <div class="col text-align-left"></div>
        </div>
        <div class="row">
            <div class="col">
                <input id="rowFP@(j)TotalLF" name="rowFP@(j)TotalLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActCF(@(i));CalculateTotalNomCF(@(i));" class="form-control" style="width: 70px" value="@projectDetail.TotalLf"/>
            </div>
            <div class="col"></div>
            <div class="col float-left">
                <input id="rowFP@(j)NomCFLF" name="rowFP@(j)NomCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(@(i));CalculateTotalNomCF(@(i));" style="width: 70px" value="@projectDetail.NomCflf"/>
            </div>
            <div class="col float-left">
                <input id="rowFP@(j)TotalNomCF" name="rowFP@(j)TotalNomCF" readonly="readonly" type="text" class="form-control" style="width: 70px" onchange="CalculateTotalNominal(@(i))" value="@projectDetail.TotalNomCf"/>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col text-align-left">Act SF CF/LF</div>
            <div class="col text-align-left">Act CF/Pcs</div>
            <div class="col text-align-left">Total Act CF</div>
            <div class="col text-align-left">Nom. CF/Pcs</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col float-left">
                <input id="rowFP@(j)ActSFCFLF" name="rowFP@(j)ActSFCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateTotalActCF(@(i));" style="width: 70px" value="@projectDetail.ActSfcflf"/>
            </div>
            <div class="col float-left">
                <input id="rowFP@(j)ActCFPcs" name="rowFP@(j)ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width: 70px" value="@projectDetail.ActCfpcs"/>
            </div>
            <div class="col float-left">
                <input id="rowFP@(j)TotalActCF" name="rowFP@(j)TotalActCF" readonly="readonly" type="text" onchange="CalculateTotalActual(@(i));" class="form-control" style="width: 70px" value="@projectDetail.TotalActCf"/>
            </div>

            <div class="col float-left">
                <input id="rowFP@(j)NomCFPcs" name="rowFP@(j)NomCFPcs" readonly="readonly" type="text" class="form-control" style="width: 70px" value="@projectDetail.NomCfpcs"/>
            </div>
            <div class="col"></div>

        </div>
    </div>
    <div class="col-2 row @(j % 2 != 0 ? "light-green" : "green")">
        <div class="col float-left">
            <span class="float-left">$</span><input id="rowFP@(j)TotalActual" name="rowFP@(j)TotalActual" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/>
        </div>
        <div class="col float-left">
            <span class="float-left">$</span><input id="rowFP@(j)TotalNominal" name="rowFP@(j)TotalNominal" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/>
        </div>
    </div>
    <div class="col-2 row">
        <div class="col-6">
            <input id="rowFP@(j)LineItemCharge" name="rowFP@(j)LineItemCharge" onchange="OnLineItemChange(@(j));SumLineItemCharge();SumOfLineItemCharge();" value="@projectDetail.LineItemCharge" type="text" class="form-control" style="width: 70px;"/>
        </div>
        <div class="col-6">
            <input id="rowFP@(j)LineData" name="rowFP@(j)LineData" readonly="readonly" type="text" class="form-control" style="width: 70px;"/>
        </div>
        <div class="col-6 text-align-left">$/pc</div>
        <div class="col-6 text-align-left"></div>
        <div class="col-6 text-align-left"><input id="rowFP@(j)LineItemChargePCs" name="rowFP@(j)LineItemChargePCs" onchange="SumLineItemChargePCs();" readonly="readonly" type="text" class="form-control" style="width: 70px;"/></div>
        <div class="col-6 text-align-left"></div>
        <div class="col-6 text-align-left">$/CF</div>
        <div class="col-6 text-align-left"></div>
        <div class="col-6 text-align-left"><input id="rowFP@(j)LineItemChargeCF" name="rowFP@(j)LineItemChargeCF" onchange="SumLineItemChargeCF()" readonly="readonly" type="text" class="form-control" style="width: 70px;"/></div>
        <div class="col-6 text-align-left"></div>
        <div class="col-6 text-align-left">$/LF</div>
        <div class="col-6 text-align-left"></div>
        <div class="col-6 text-align-left"><input id="rowFP@(j)LineItemChargeLF" name="rowFP@(j)LineItemChargeLF" readonly="readonly" type="text" class="form-control" style="width: 70px;"/></div>

    </div>
    </div>
    j++;
}
<div class="row align-items-start">
    <div class="col-4 row">
        <div class="col-1"><b>TOTALS</b></div>


    </div>
    <div class="col-4 row">
        <div class="col text-align-left"><b>Total LF</b></div>
        <div class="col text-align-left"><b>Total Nom. CF</b></div>
        <div class="col text-align-left"><b>Total Act CF</b></div>
        <div class="col text-align-left"><b>Total Pcs</b></div>
        <div class="col text-align-left"></div>
    </div>

    <div class="col-2 row">
        <div class="col text-align-left"><b>Total Actual</b></div>
        <div class="col text-align-left"><b>Total Nominal</b></div>
    </div>
    <div class="col-2 row">
        <div class="col text-align-left"><input id="rowFPSumLineItemCharge" name="rowFPSumLineItemCharge" readonly="readonly" type="text" class="form-control" style="width: 70px;"/></div>
        <div class="col text-align-left"></div>
    </div>
</div>
<div class="row align-items-start">
    <div class="col-4 row">
        <div class="col-1"></div>


    </div>
    <div class="col-4 row">
        <div class="col text-align-left"><input id="rowFPSumOfTotalLF" name="rowFPSumOfTotalLF" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/></div>
        <div class="col text-align-left"><input id="rowFPSumOfTotalNomCF" name="rowFPSumOfTotalNomCF" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/></div>
        <div class="col text-align-left"><input id="rowFPSumOfTotalActualCF" name="rowFPSumOfTotalActualCF" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/></div>
        <div class="col text-align-left"><input id="rowFPSumOfPcs" name="rowFPSumOfPcs" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/></div>
        <div class="col text-align-left"></div>
    </div>

    <div class="col-2 row">
        <div class="col text-align-left"><span class="float-left">$</span><input id="rowFPSumTotalActual" name="rowFPSumTotalActual" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/></div>
        <div class="col text-align-left"><span class="float-left">$</span><input id="rowFPSumTotalNominal" name="rowFPSumTotalNominal" readonly="readonly" type="text" class="form-control" style="width: 70px; background-color: transparent !important; border: 0px solid;"/></div>
    </div>
    <div class="col-2 row">
        <div class="col text-align-left"><input id="LineItemTotal" name="LineItemTotal" value="@Model.ProjectDto.LineItemTotal" type="text" class="form-control" onchange="SumLineItemCharge();SumLineItemChargePCs();SumLineItemChargeCF();"/></div>
        <div class="col text-align-left"><input id="SumOfLineItemCharge" name="SumOfLineItemCharge" type="text" class="form-control" readonly="readonly"/></div>
    </div>
</div>
<div class="row align-items-start">
    <div class="col-3 row">
        <div class="col-1"></div>
    </div>
    <div class="col-5 row"></div>
    <div class="col-2 row"></div>
    <div class="col-2 row">
        <div class="col text-align-left">$/pc</div>
        <div class="col text-align-left"></div>
    </div>
</div>
<div class="row align-items-start">
    <div class="col-3 row">
        <div class="col-1"></div>


    </div>
    <div class="col-5 row">

    </div>

    <div class="col-2 row"></div>
    <div class="col-2 row">
        <div class="col text-align-left"><input id="rowFPSumLineItemChargePCs" name="rowFPSumLineItemChargePCs" readonly="readonly" type="text" class="form-control" style="width: 70px;"/></div>
        <div class="col text-align-left"></div>
    </div>
</div>
<div class="row align-items-start">
    <div class="col-3 row">
        <div class="col-1"></div>


    </div>
    <div class="col-5 row"></div>
    <div class="col-2 row"></div>
    <div class="col-2 row">
        <div class="col text-align-left">$/CF</div>
        <div class="col text-align-left"></div>
    </div>
</div>
<div class="row align-items-start">
    <div class="col-3 row">
        <div class="col-1"></div>


    </div>
    <div class="col-5 row"></div>
    <div class="col-2 row"></div>
    <div class="col-2 row">
        <div class="col text-align-left"><input id="rowFPSumOfLineItemChargeCF" name="rowFPSumOfLineItemChargeCF" readonly="readonly" type="text" class="form-control" style="width: 70px;"/></div>
        <div class="col text-align-left"></div>
    </div>
</div>
</div>
</div>
</div>
      
<div id="hiddenPlanElevationFiles" style="display:none;">
</div>
<div id="planElevationTextDivHidden" style="display: none;">
            <input type="hidden" id="planElevationTextHidden" value="@JsonConvert.SerializeObject(Model.ProjectDto.ProjectPlanElevationText)" />
</div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Plan/Elevation</h5>
                    
                </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-1 text"> #</div>
                    <div class="col-2"> Plan/Elevation</div>
                        <div class="col-1"> LF</div>
                        <div class="col-1"> PCS</div>
                    <div class="col-7">
                        <div class="row">
                            <div class="col-6"> Image Snip </div>
                            <div class="col-6"> Page Ref </div>
                        </div>
                    </div>
                        <input type="hidden" id="ProjectDetailIdHidden" name="ProjectDetailIdHidden" />
                </div>
                <div id="rows" class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="background-color: #17a2b8" onclick="AddPlanElevationRow();"><i class="fa fa-plus"> Add Row</i></button>
                <button type="button" class="btn btn-primary" style="background-color: #17a2b8" data-dismiss="modal" onclick="CloseModal();"><i class="fa fa-close"> Close</i></button>
                    <button type="button" class="btn btn-primary" style="background-color: #17a2b8" onclick="CalculateLF();"><i class="fa fa-save"> Save & Close </i> </button>
            </div>
           
        </div>
    </div>
</div>
</div>

<div id="hiddenTable" style="display:none;">

</div>


<div id="groupModal" class="modal">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupModalLabel">Create Group</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3"> Group Name</div>
                </div>
                <div id="rows" class="row">
                    <div class="row ">
                        <div class="col-3">
                            <input type="text" id="groupName1" name="groupName1" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
             <div class="modal-footer">
                <button id="groupCreateButton" type="button" class="btn btn-secondary" onclick="OnCreateGroup();">Create</button>
                <button id="closeGroupModel" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModal();">Close</button>
            </div>           
        </div>
    </div>
    <!-- Modal content -->
  

</div>

@section scripts {

    <script type="text/javascript" src="~/js/editproject.js" language="javascript" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/jquery-lightbox/jquery.popup.lightbox.js" language="javascript" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script type="text/javascript">
        //e.originalEvent.clipboardData.files
        //const form = document.getElementById("new_document_attachment");
        const fileInput = document.getElementById("ContactSpecs");

        //fileInput.addEventListener('change', () => {
        //    form.submit();
        //});

        //window.addEventListener('paste', e => {
        //    fileInput.files = e.clipboardData.files;
        //});
                
    </script>
}