@model ProjectDto
@{
    ViewData["Title"] = "Edit";
}

<style>
    .form-control {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .form-select
    {
        font-size: .8rem;
        font-weight: 100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }
    .link { font-size:.8rem;}
    
    .input-group
    {
        margin-top:3px;
    }

    .input-group-text {
        padding: 0rem .5rem;
    }
    
    .primary
    {
        background-color: #d6cfcc;
    }
    
    .secondary
    {
        background-color: #eeeee4;
    }
    label
    {
        font-size:0.8rem;
    }
    .font-size-08
    {
        font-size: 0.8rem;
    }
    .row>*
    {
        padding-left:2px;
        padding-right:2px;
        padding-top:2px;
        margin-left:0px;
        margin-right:0px;
    }
    .no-margin
    {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>

<div class="text-center">
    <form action="Edit" method="POST" role="form" enctype="multipart/form-data">
        <div class="input-group">
            <label for="staticEmail" class="col-sm-2">Job Name:</label>
            <div class="col-sm-3">
                <input id="projectId" name="projectId" type="hidden" value="@Model.ProjectId" />
                <input id="projectname" name="projectname" class="form-control" value="@Model.ProjectName" />
            </div>
            <label for="staticEmail" class="col-sm-2">Date:</label>
            <div class="col-sm-1">
                
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="RevisionDate" name="RevisionDate" value="@(Model.RevisionDate != null ? Model.RevisionDate.Value.ToString("MM/dd/yyyy"):"")" />
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="input-group">
            <label for="inputPassword" class="col-sm-2">Nominal CF:</label>
            <span class="float-left">$</span>
            <div class="col-sm-3">
                 <input id="NominalCF" name="NominalCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalNominalOnChangeOfNominalCF();" class="form-control" type="text" value="@Model.NominalCF" />
            </div>
            
        </div>
        <div class="input-group mb-3">
            <label for="inputPassword" class="col-sm-2 ">Actual CF:</label>
            <span class="float-left">$</span>
            <div class="col-sm-3">
                <input id="ActualCF" name="ActualCF" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActualOnChangeOfActualCF();" class="form-control" type="text" value="@Model.ActualCF" />
            </div>
            
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Build Lines</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Line Cost</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Final Price</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <table style="width:100%" class="table font-size-08">
                    <tr>
                        <td>
                            <div style="width:100%" id="RowsTable" class="container-fluid">
                                <div class="row align-items-start">
                                    <div class="col-4 row">
                                        <div class="col-1">No</div>
                                        
                                        
                                    </div>
                                    <div class="col-6 row"></div>
                                    <div class="col-2 row"><div class="col text-align-left">Total Actual</div>
                                        <div class="col text-align-left">Total Nominal</div></div>
                                </div>
                                @{
                                    var i = 1;
                                }
                                @foreach (var projectDetail in Model.ProjectDetails)
                                {
                                    <div class="@(i % 2 != 0 ? "primary" : "secondary") row exceldatarow">
                                        <div class="col-4 row">
                                            <div class="col-1">@(i)</div>
                                            <div class="col-2 text-align-left">W/D</div>
                                            <div class="col-5 text-align-left">
                                                Item Name

                                            </div>

                                            <div class="col-4 text-align-left">

                                                Detail
                                                #/Page

                                            </div>
                                        </div>
                                        <div class="col text-align-left">Takeoff Color</div>
                                        <div class="col-5 row text-align-left">
                                            <div class="col text-align-left">Length</div>
                                            <div class="col text-align-left">Width</div>
                                            <div class="col text-align-left">
                                                Height
                                            </div>
                                            <div class="col text-align-left">
                                                Pcs
                                            </div>
                                            <div class="col text-align-left">
                                                Mold QTY
                                            </div>
                                        </div>
                                        <div class="col-2 row light-green"></div>
                                        <div class="col-4 row">
                                            <div class="col-1">&nbsp;</div>
                                            <div class="col-2">
                                                <input id="row@(i)projectDetailId" name="row@(i)projectDetailId" type="hidden" value="@projectDetail.ProjectDetailId"/>
                                                <select id="row@(i)WD" name="row@(i)WD" class="form-select" style="width:60px;">
                                                    <option value="Dry" selected="@projectDetail.WD.Equals("Dry")">Dry</option>
                                                    <option value="Wet" selected="@projectDetail.WD.Equals("Wet")">Wet</option>
                                                </select>
                                            </div>
                                            <div class="col-5">
                                                <input id="row@(i)ItemName" name="row@(i)ItemName" class="form-control" type="text" value="@projectDetail.ItemName"/>

                                            </div>

                                            <div class="col-4">
                                                <input id="row@(i)DetailPage" name="row@(i)DetailPage" class="form-control" type="text" value="@projectDetail.DetailPage"/>
                                            </div>
                                            <div class="col-12 row">
                                                <div class="col-3">
                                                    <div class="col-12"><label> Category</label></div>
                                                    <div class="row">
                                                        <div class="col-4"></div>
                                                        <div class="col-8">
                                                            <select id="row@(i)Category" name="row@(i)Category" class="form-select" style="width:80px;">
                                                                <option value="">Select</option>
                                                                <option value="Band" selected="@projectDetail.WD.Equals("Band")">Band</option>
                                                                <option value="Bench" selected="@projectDetail.WD.Equals("Bench")">Bench</option>
                                                                <option value="Block" selected="@projectDetail.WD.Equals("Block")">Block</option>
                                                                <option value="Bollard" selected="@projectDetail.WD.Equals("Bollard")">Bollard</option>
                                                                <option value="Cap">Cap</option>
                                                                <option value="Coping">Coping</option>
                                                                <option value="Cornice">Cornice</option>
                                                                <option value="Date Stone">Date Stone</option>
                                                                <option value="Header">Header</option>
                                                                <option value="Lintel">Lintel</option>
                                                                <option value="Panel">Panel</option>
                                                                <option value="Planter">Planter</option>
                                                                <option value="Sill">Sill</option>
                                                                <option value="Site Furniture">Site Furniture</option>
                                                                <option value="Slab">Slab</option>
                                                                <option value="Soffit">Soffit</option>
                                                                <option value="Spandrel">Spandrel</option>
                                                                <option value="Stair">Stair</option>
                                                                <option value="Veneer">Veneer</option>
                                                                <option value="Wall">Wall</option>
                                                                <option value="Water Table">Water Table</option>
                                                                <option value="Unique Item">Unique Item</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-9 text-align-left">

                                                    <label for="inputPassword" class="col-7 "> Disposition (Special Notes)</label>


                                                    <textarea id="row@(i)DispositionSpecialNote" name="row@(i)DispositionSpecialNote" class="form-control" type="text" value="@projectDetail.DispositionSpecialNote" style="height:50px"></textarea>
                                                    <label for="inputPassword" class="col-7 ">Plan/Elevation</label>
                                                    <input id="row@(i)PlanElevation" name="row@(i)PlanElevation" class="form-control" type="text" value="@projectDetail.PlanElevation"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <div class="col">
                                                <input id="row@(i)TakeOffColor" name="row@(i)TakeOffColor" type="text" class="form-control" style="width:100px" value="@projectDetail.TakeOffColor"/>
                                            </div>
                                            <div class="col text-align-left" > Section</div>
                                            <div class="col-12 no-margin text-align-left">
                                                <a id="single_image" href="@projectDetail.ImagePath" target="_blank">
                                                    <img src="@projectDetail.ImagePath" style="width:120px;height:100px"/>
                                                </a>
                                            </div>
                                            <div class="col-12 text-align-left">
                                                <a id="row@(i)ChangeImage" class="link" onclick="ShowImageSelection(@(i))" href="javascript:void();"><input type="file" id="row@(i)File" name="row@(i)File" class="form-control" style="display:none;" accept="image/*"/>Change Image</a>
                                            </div>

                                        </div>
                                        <div class="col-5 row">

                                            <div class="col">
                                                <input id="row@(i)Length" name="row@(i)Length" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateNomCFPcs(@(i));ConvertNumberToFraction(this);" style="width:70px" value="@projectDetail.Length"/>
                                            </div>
                                            <div class="col">
                                                <input id="row@(i)Width" name="row@(i)Width" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(@(i));ConvertNumberToFraction(this);" class="form-control" style="width:70px" value="@projectDetail.Width" />
                                            </div>
                                            <div class="col">
                                                <input id="row@(i)Height" name="row@(i)Height" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(@(i));ConvertNumberToFraction(this);" class="form-control" style="width:70px" value="@projectDetail.Height" />
                                            </div>
                                            <div class="col">
                                                <input id="row@(i)Pieces" name="row@(i)Pieces" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" value="@projectDetail.Pieces"/>
                                            </div>




                                            <div class="col">
                                                <input id="row@(i)MoldQTY" name="row@(i)MoldQTY" type="text" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" value="@projectDetail.MoldQty"/>
                                            </div>
                                            <div class="row">
                                                <div class="col text-align-left">Total LF</div>
                                                <div class="col text-align-left"></div>
                                                <div class="col text-align-left">Nom. CF/LF</div>
                                                <div class="col text-align-left">Total Nom. CF</div>
                                                <div class="col text-align-left"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input id="row@(i)TotalLF" name="row@(i)TotalLF" type="text" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActCF(@(i));CalculateTotalNomCF(@(i));CalculateActSFCFLF(@(i));" class="form-control" style="width:70px" value="@projectDetail.TotalLf"/>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col float-left">
                                                    <input id="row@(i)NomCFLF" name="row@(i)NomCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(@(i));CalculateTotalNomCF(@(i));" style="width:70px" value="@projectDetail.NomCflf" />
                                                </div>
                                                <div class="col float-left">
                                                    <input id="row@(i)TotalNomCF" name="row@(i)TotalNomCF" readonly="readonly" type="text" class="form-control" style="width:70px" onchange="CalculateTotalNominal(@(i))" value="@projectDetail.TotalNomCf" />
                                                </div>
                                                <div class="col"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-align-left">Act SF CF/LF</div>
                                                <div class="col text-align-left">Act CF/Pcs</div>
                                                <div class="col text-align-left">Total Act CF</div>
                                                <div class="col text-align-left">Nom. CF/Pcs</div>
                                                <div class="col"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col float-left">
                                                    <input id="row@(i)ActSFCFLF" name="row@(i)ActSFCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateTotalActCF(@(i));" style="width:70px" value="@projectDetail.ActSfcflf"/>
                                                </div>
                                                <div class="col float-left">
                                                    <input id="row@(i)ActCFPcs" name="row@(i)ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width:70px" value="@projectDetail.ActCfpcs"/>
                                                </div>
                                                <div class="col float-left">
                                                    <input id="row@(i)TotalActCF" name="row@(i)TotalActCF" readonly="readonly" type="text" onchange="CalculateTotalActual(@(i));" class="form-control" style="width:70px" value="@projectDetail.TotalActCf"/>
                                                </div>
                                                
                                                <div class="col float-left">
                                                    <input id="row@(i)NomCFPcs" name="row@(i)NomCFPcs" readonly="readonly" type="text" class="form-control" style="width:70px" value="@projectDetail.NomCfpcs"/>
                                                </div>
                                                <div class="col"></div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-2 row">
                                            <div class="light-green col float-left">
                                                <span class="float-left">$</span><input id="row@(i)TotalActual" name="row@(i)TotalActual" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;"/>
                                            </div>
                                            <div class="light-green col float-left">
                                                <span class="float-left">$</span><input id="row@(i)TotalNominal" name="row@(i)TotalNominal" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }
                            </div>
                           
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:left;">
                            <input type="button" value="New Row" onclick="OnAddRow();" class="btn btn-primary" />
                        </td>
                    </tr>

                </table>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">2</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                <div style="width:100%" id="RowsTable" class="container-fluid font-size-08">
                    <div class="row align-items-start">
                        <div class="col-3 row">
                            <div class="col-1">No</div>


                        </div>
                        <div class="col-5 row"></div>
                        <div class="col-2 row">
                            <div class="col text-align-left">Total Actual</div>
                            <div class="col text-align-left">Total Nominal</div>
                        </div>
                        <div class="col-2 row">
                            <div class="col text-align-left">Line Item Charge</div>
                            <div class="col text-align-left">Line Delta</div>
                        </div>
                    </div>
                    @{
                        var j = 1;
                    }
                    @foreach (var projectDetail in Model.ProjectDetails)
                    {
                        <div class="@(j % 2 != 0 ? "primary" : "secondary") row exceldatarow1">
                            <div class="col-4 row">
                                <div class="col-1">@(j)</div>
                                <div class="col-2 text-align-left">W/D</div>
                                <div class="col-5 text-align-left">
                                    Item Name

                                </div>

                                <div class="col-4 text-align-left">

                                    Detail
                                    #/Page

                                </div>
                            </div>
                            
                            <div class="col-4 row text-align-left">
                                <div class="col text-align-left">Length</div>
                                <div class="col text-align-left">Width</div>
                                <div class="col text-align-left">
                                    Height
                                </div>
                                <div class="col text-align-left">
                                    Pcs
                                </div>
                                <div class="col text-align-left">
                                    Mold QTY
                                </div>
                            </div>
                            <div class="col-2 row light-green">
                                <div class="col text-align-left"><input type="radio" id="rowFP@(j)TotalActualCheckBox" name="rowFP@(j)TotalCheckBox" checked="@(projectDetail.TotalActualNominalValue != null && projectDetail.TotalActualNominalValue.Equals("1"))" onchange="OnLineItemChange(@(j));" value="1" /></div>
                                <div class="col text-align-left"><input type="radio" id="rowFP@(j)TotalNominalCheckBox" name="rowFP@(j)TotalCheckBox" checked="@(projectDetail.TotalActualNominalValue ==null || projectDetail.TotalActualNominalValue.Equals("2"))" onchange="OnLineItemChange(@(j));" value="2" /></div>
                            </div>
                            <div class="col-2 row"></div>
                            <div class="col-4 row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-2">
                                    <input id="rowFP@(j)projectDetailId" name="rowFP@(j)projectDetailId" type="hidden" value="@projectDetail.ProjectDetailId" />
                                    <select id="rowFP@(j)WD" name="rowFP@(j)WD" class="form-select" style="width:60px;">
                                        <option value="Dry">Dry</option>
                                        <option value="Wet">Wet</option>
                                    </select>
                                </div>
                                <div class="col-5">
                                    <input id="rowFP@(j)ItemName" name="rowFP@(j)ItemName" class="form-control" type="text" value="@projectDetail.ItemName" />

                                </div>

                                <div class="col-4">
                                    <input id="rowFP@(j)DetailPage" name="rowFP@(j)DetailPage" class="form-control" type="text" value="@projectDetail.DetailPage" />
                                </div>
                                <div class="col-12">
                                    <div class="col-3 float-left">&nbsp;</div>
                                    <div class="col-9  float-left text-align-left">

                                        <label for="inputPassword" class="col-7 "> Disposition (Special Notes)</label>


                                        <textarea id="rowFP@(j)DispositionSpecialNote" name="rowFP@(j)DispositionSpecialNote" style="height:80px;" class="form-control" type="text" value="@projectDetail.DispositionSpecialNote"></textarea>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-4 row">

                                <div class="col">
                                    <input id="rowFP@(j)Length" name="rowFP@(j)Length" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateNomCFPcs(@(i));" style="width:70px" value="@projectDetail.Length" />
                                </div>
                                <div class="col">
                                    <input id="rowFP@(j)Width" name="rowFP@(j)Width" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(@(i));" class="form-control" style="width:70px" value="@projectDetail.Width" />
                                </div>
                                <div class="col">
                                    <input id="rowFP@(j)Height" name="rowFP@(j)Height" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" onchange="CalculateNomCFLF(@(i));" class="form-control" style="width:70px" value="@projectDetail.Height" />
                                </div>
                                <div class="col">
                                    <input id="rowFP@(j)Pieces" name="rowFP@(j)Pieces" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" value="@projectDetail.Pieces" />
                                </div>




                                <div class="col">
                                    <input id="rowFP@(j)MoldQTY" name="rowFP@(j)MoldQTY" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" style="width:70px" value="@projectDetail.MoldQty" />
                                </div>
                                <div class="row">
                                    <div class="col text-align-left">Total LF</div>
                                    <div class="col text-align-left"></div>
                                    <div class="col text-align-left">Nom. CF/LF</div>
                                    <div class="col text-align-left">Total Nom. CF</div>
                                    <div class="col text-align-left"></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="rowFP@(j)TotalLF" name="rowFP@(j)TotalLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" onchange="CalculateTotalActCF(@(i));CalculateTotalNomCF(@(i));CalculateActSFCFLF(@(i));" class="form-control" style="width:70px" value="@projectDetail.TotalLf" />
                                    </div>
                                    <div class="col"></div>
                                    <div class="col float-left">
                                        <input id="rowFP@(j)NomCFLF" name="rowFP@(j)NomCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateNomCFPcs(@(i));CalculateTotalNomCF(@(i));" style="width:70px" value="@projectDetail.NomCflf" />
                                    </div>
                                    <div class="col float-left">
                                        <input id="rowFP@(j)TotalNomCF" name="rowFP@(j)TotalNomCF" readonly="readonly" type="text" class="form-control" style="width:70px" onchange="CalculateTotalNominal(@(i))" value="@projectDetail.TotalNomCf" />
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col text-align-left">Act SF CF/LF</div>
                                    <div class="col text-align-left">Act CF/Pcs</div>
                                    <div class="col text-align-left">Total Act CF</div>
                                    <div class="col text-align-left">Nom. CF/Pcs</div>
                                    <div class="col"></div>
                                </div>
                                <div class="row">
                                    <div class="col float-left">
                                        <input id="rowFP@(j)ActSFCFLF" name="rowFP@(j)ActSFCFLF" type="text" readonly="readonly" onkeypress="return isNumberKey(this, event);" class="form-control" onchange="CalculateActCFPcs(@(i));CalculateTotalActCF(@(i));" style="width:70px" value="@projectDetail.ActSfcflf" />
                                    </div>
                                    <div class="col float-left">
                                        <input id="rowFP@(j)ActCFPcs" name="rowFP@(j)ActCFPcs" type="text" onkeypress="return isNumberKey(this, event);" readonly="readonly" class="form-control" style="width:70px" value="@projectDetail.ActCfpcs" />
                                    </div>
                                    <div class="col float-left">
                                        <input id="rowFP@(j)TotalActCF" name="rowFP@(j)TotalActCF" readonly="readonly" type="text" onchange="CalculateTotalActual(@(i));" class="form-control" style="width:70px" value="@projectDetail.TotalActCf" />
                                    </div>

                                    <div class="col float-left">
                                        <input id="rowFP@(j)NomCFPcs" name="rowFP@(j)NomCFPcs" readonly="readonly" type="text" class="form-control" style="width:70px" value="@projectDetail.NomCfpcs" />
                                    </div>
                                    <div class="col"></div>

                                </div>
                            </div>
                            <div class="col-2 row">
                                <div class="light-green col float-left">
                                    <span class="float-left">$</span><input id="rowFP@(j)TotalActual" name="rowFP@(j)TotalActual" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
                                </div>
                                <div class="light-green col float-left">
                                    <span class="float-left">$</span><input id="rowFP@(j)TotalNominal" name="rowFP@(j)TotalNominal" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" />
                                </div>
                            </div>
                            <div class="col-2 row">
                                <div class="col-6">
                                    <input id="rowFP@(j)LineItemCharge" name="rowFP@(j)LineItemCharge" onchange="OnLineItemChange(@(j));SumLineItemCharge();" value="@projectDetail.LineItemCharge" type="text" class="form-control" style="width:70px;" />
                                </div>
                                <div class="col-6">
                                    <input id="rowFP@(j)LineData" name="rowFP@(j)LineData" readonly="readonly" type="text" class="form-control" style="width:70px;" />
                                </div>
                                <div class="col-6 text-align-left">$/pc</div>
                                <div class="col-6 text-align-left"></div>
                                <div class="col-6 text-align-left"><input id="rowFP@(j)LineItemChargePCs" name="rowFP@(j)LineItemChargePCs" onchange="SumLineItemChargePCs();" readonly="readonly" type="text" class="form-control" style="width:70px;" /></div>
                                <div class="col-6 text-align-left"></div>
                                <div class="col-6 text-align-left">$/CF</div>
                                <div class="col-6 text-align-left"></div>
                                <div class="col-6 text-align-left"><input id="rowFP@(j)LineItemChargeCF" name="rowFP@(j)LineItemChargeCF" onchange="SumLineItemChargeCF()" readonly="readonly" type="text" class="form-control" style="width:70px;" /></div>
                                <div class="col-6 text-align-left"></div>
                            </div>
                        </div>
                        j++;
                    }
                    <div class="row align-items-start">
                        <div class="col-3 row">
                            <div class="col-1"><b>TOTALS</b></div>


                        </div>
                        <div class="col-5 row"></div>
                        <div class="col-2 row">
                            <div class="col text-align-left"><b>Total Actual</b></div>
                            <div class="col text-align-left"><b>Total Nominal</b></div>
                        </div>
                        <div class="col-2 row">
                            <div class="col text-align-left"></div>
                            <div class="col text-align-left"></div>
                        </div>
                    </div>
                <div class="row align-items-start">
                    <div class="col-3 row">
                        <div class="col-1"></div>


                    </div>
                    <div class="col-5 row"></div>
                    <div class="col-2 row">
                        <div class="col text-align-left"><span class="float-left">$</span><input id="rowFPSumTotalActual" name="rowFPSumTotalActual" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" /></div>
                        <div class="col text-align-left"><span class="float-left">$</span><input id="rowFPSumTotalNominal" name="rowFPSumTotalNominal" readonly="readonly" type="text" class="form-control" style="width:70px;background-color:transparent !important; border: 0px solid;" /></div>
                    </div>
                    <div class="col-2 row">
                        <div class="col text-align-left"><input id="LineItemTotal" name="LineItemTotal" value="@Model.LineItemTotal" type="text" class="form-control" onchange="SumLineItemCharge();" /></div>
                        <div class="col text-align-left"><input id="SumOfLineItemCharge" name="SumOfLineItemCharge" type="text" class="form-control" readonly="readonly" /></div>
                    </div>
                </div>
                    <div class="row align-items-start">
                        <div class="col-3 row">
                            <div class="col-1"></div>
                        </div>
                        <div class="col-5 row"></div>
                        <div class="col-2 row"></div>
                        <div class="col-2 row">
                            <div class="col text-align-left">$/pc</div>
                            <div class="col text-align-left"></div>
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-3 row">
                            <div class="col-1"></div>


                        </div>
                        <div class="col-5 row"></div>
                        <div class="col-2 row"></div>
                        <div class="col-2 row">
                            <div class="col text-align-left"><input id="rowFPSumLineItemChargePCs" name="rowFPSumLineItemChargePCs" readonly="readonly" type="text" class="form-control" style="width:70px;" /></div>
                            <div class="col text-align-left"></div>
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-3 row">
                            <div class="col-1"></div>


                        </div>
                        <div class="col-5 row"></div>
                        <div class="col-2 row"></div>
                        <div class="col-2 row">
                            <div class="col text-align-left">$/CF</div>
                            <div class="col text-align-left"></div>
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-3 row">
                            <div class="col-1"></div>


                        </div>
                        <div class="col-5 row"></div>
                        <div class="col-2 row"></div>
                        <div class="col-2 row">
                            <div class="col text-align-left"><input id="rowFPSumOfLineItemChargeCF" name="rowFPSumOfLineItemChargeCF" readonly="readonly" type="text" class="form-control" style="width:70px;" /></div>
                            <div class="col text-align-left"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col" style="text-align:right;">
                    <button type="submit" onclick="return Validate();" class="btn btn-primary"> Save </button>
                </div>
            </div>
        </div>
    </form>
</div>



@section scripts {
    
    <script>
            $(document).ready(function () {
            $('#datepicker').datepicker({
                autoclose: true
            });
                /* This is basic - uses default settings */
                window.console.log(1);
            CalculateTotalActualOnChangeOfActualCF();
            CalculateTotalNominalOnChangeOfNominalCF();
            var rowCount = $('.exceldatarow').length;
            for (var rownumber = 1; rownumber <= rowCount; rownumber++) {
                ConvertNumberToFraction(document.getElementById('row' + rownumber + 'Length'));
                ConvertNumberToFraction(document.getElementById('row' + rownumber + 'Width'));
                ConvertNumberToFraction(document.getElementById('row' + rownumber + 'Height'));
                CalculateActCFPcs(rownumber);
                CalculateTotalActCF(rownumber);
                CalculateNomCFLF(rownumber);
                CalculateNomCFPcs(rownumber);
                CalculateTotalNomCF(rownumber);
                CalculateActSFCFLF(rownumber);
                OnLineItemChange(rownumber);
            }
            SumTotalOfActual();
            SumTotalOfNominal();
            SumLineItemCharge();
            SumLineItemChargePCs();
            SumLineItemChargeCF();
            });
        
    </script>

}