@model ICollection<ExcelAutomation.Models.ProjectDto>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .form-control{
        font-size:.8rem;
        font-weight:100;
        padding-left: 2px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
    }

</style>

<div class="text-center">
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col" style="text-align:left;">
                <a class="btn btn-primary" asp-controller="Home" asp-action="AddProject" role="button">New Project</a>
            </div>
            <div class="col">
               
            </div>
            <div class="col">
               
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name</th>
            <th scope="col">Plan Date</th>
                <th scope="col">Created Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @if(Model != null)
        {
            foreach (var projectDto in Model)
            {
                <tr>
                    <th scope="row">@projectDto.ProjectId</th>
                    <td>@projectDto.ProjectName</td>
                        <td>@(projectDto.RevisionDate.HasValue ? projectDto.RevisionDate.Value.ToString("MM-dd-yyyy"):string.Empty)</td>
                        <td>@projectDto.CreatedDate.Value.ToString("MM-dd-yyyy")</td>
                    <td><a class="btn btn-primary" asp-controller="Home" asp-route-id="@projectDto.ProjectId" asp-action="Edit" role="button">Edit Project</a>
                            <a class="btn btn-primary" asp-controller="Home" asp-route-id="@projectDto.ProjectId" asp-action="CopyProject">Copy Project</a>
                        </td>
                </tr>
            }
            
        }
        </tbody>
    </table>
</div>